<%= render 'shared/navbar' %>

<div class="container mt-5 pt-5 text-center">
  <h1>Welcome to My Life</h1>
  <p>Hello, my name is Alia Solovyeva and I am a freshman at Connecticut College.</p>
  
  <%= image_tag "hero.jpg", class: "img-fluid rounded mt-4 mb-4", style: "max-width: 400px;", alt: "Hero Image" %>

  <%= link_to 'Start Exploring', portfolio_path, class: 'btn btn-primary mt-3' %>
</div>
